<h6>There are <%= @mangas.length %> manga(s).</h6>

<%= link_to new_manga_path, class: "btn waves-effect waves-light" do %>
    <span><i class="fas fa-plus"></i> manga</span>
<% end %>

<div class="grid">
<% @mangas.each do |manga| %>
    <div>
        <img src="<%= manga.img_path %>" />
        
        <%= link_to manga_path(manga) do %>
            <h6><%= manga.title %></h6>
        <% end %>

    </div>
<% end %>
</div>