<h6>There are <%= @mangas.length %> manga(s).</h6>

<%= link_to new_manga_path, class: "btn waves-effect waves-light" do %>
    <span><i class="fas fa-plus"></i> manga</span>
<% end %>

<div class="grid">
<% @mangas.each do |manga| %>
    <div>
        <p><%#= manga.desc %></p>
        <img src="<%= manga.img_path %>" />
        <p><%#= manga.artist.name %></p>
        <h6><%= manga.title %></h6>
        <%= link_to manga_path(manga) do %>
            <i class="far fa-eye"></i>
        <% end %>
        <%= link_to edit_manga_path(manga) do %>
            <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to manga_path(manga), method: "delete", data: { confirm: "Are you sure you want to delete?"} do %>
            <i class="fas fa-trash"></i>
        <% end %>
    </div>
<% end %>
</div>