<h6>There are <%= @artists.length %> artist(s).</h6>

<%= link_to new_artist_path, class: "btn waves-effect waves-light" do %>
    <span><i class="fas fa-plus"></i> artist</span>
<% end %>

<div class="grid">
    <% @artists.each do |artist| %>
        <div>
            <div>
                <img src="<%= artist.img_path %>">
            </div>
            <%= link_to artist_path(artist) do %>
                <h6><%= artist.name %></h6>
            <% end %>
        </div>
    <% end %>
</div>
