<!DOCTYPE html>
<html>
  <head>
    <title>MangaLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to mangas_path do %>
        HOME
      <% end %>
      <%= link_to artists_path do %>
        ARTISTS
      <% end %>
      <%= link_to genres_path do %>
        GENRES
      <% end %>
      <%= link_to actors_path do %>
        VOICE ACTORS
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  #   <script>
  #     document.getElementById("submit-btn").addEventListener('click', () => {
  #       M.toast({ html: "The form is incomplete!"});
  #     })
  # </script>
  </body>
</html>


